* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
}

#board,
#title,
#result,
#option {
    display: table;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

input {
    color: red;
    border: 3px solid aliceblue;
    width: 40px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    background-color: aliceblue;
}

#result {
    margin-top: 30px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}

input:focus {
    outline: none;
    background-color: beige;
}

#option > button {
    margin: 10px;
}

#level {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#level > button {
    cursor: pointer;
    border: none;
    font-size: 20px;
    margin: 20px;
    height: 60px;
    font-weight: bold;
    word-break: break-word;
}

a {
    text-decoration: none;
}

#easyBtn {
    background-color: green;
}

#easyBtn:hover {
    background-color: rgb(4, 138, 4);
}

#mediumBtn {
    background-color: orange;
}

#mediumBtn:hover {
    background-color: rgb(253, 171, 40);
}

#hardBtn {
    background-color: brown;
}

#hardBtn:hover {
    background-color: rgb(178, 47, 47);
}
